<% title h("#{@_GUILD.name} Manage Balances") %>
<div id="GuildManage_Balances_Show">
	<h1 class="GuildTitle"><%= @_GUILD.name %> Management: Balances</h1>

	<% link_to(admin_balances_url, :class => 'button') do %>
		<%= image_tag('icons/arrow_turn_left.png') %> back to accounts
	<% end %>
	<div class="clear"></div>

	<div class="SectionHeading">
		<h2><%=h @ba.name %></h2>
	</div>

	<div id="CharListFilters">
		<% form_tag(filter_admin_balance_url(:id => @ba.id), :method => :post) do %>
			<%= render :partial => 'shared/char_list_filters' %>
		<% end %>
	</div>

	<table class="simple">
		<tr>
			<th style="width: 20px;"></th>
			<th style="width: 200px;">Name</th>
			<th style="width: 125px;">Class</th>
			<th>Last Transaction</th>
			<th style="text-align: center;">Balance</th>
			<th></th>
		</tr>

		<% @ba.filtered_characters_with_balance(session[:char_filters]).each do |cb| %>
			<tr <% if cb.id == @_MAIN_CHAR.id %>class="highlight"<% end %>>
				<td></td>
				<td><%=h cb.name %></td>
				<td><%= character_class_with_colorbox(cb.character_class) %></td>
				<td><%= cb.updated_at.nil? ? "--" : cb.updated_at.strftime("%m/%d/%y @ %H:%M (%Z)") %></td>
				<td style="text-align: center;"><%= number_with_precision(cb.balance || 0, :precision => 2) %></td>
				<td style="text-align: right;"><%#= link_to('history', balance_history_url(:balance_id => @ba.id, :char_id => cb.id)) %></td>
			</tr>
		<% end %>
		
		<% if @ba.filtered_characters_with_balance(session[:char_filters]).blank? %>
			<tr>
				<td colspan="6">Nobody has a balance in this account yet.</td>
			</tr>
		<% end %>
	</table>
	
	<% center_buttons do %>
		<% link_to(edit_admin_balance_url(@ba), :class => 'button') do %>
			<%= image_tag('icons/calculator_edit.png') %> adjust balances
		<% end %>
		<% link_to(admin_balance_url(@ba), :method => :delete, :confirm => "Are you sure you want to delete this balance account?", :class => 'button negative') do %>
			<%= image_tag('icons/calculator_delete.png') %> delete balance account
		<% end %>
	<% end %>
</div>